<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        header, footer, nav, aside, section{
            margin: 5px;
            padding: 10px;
        }
        section, aside {
            float: left;
            height: 200px;
        }
        footer{
            clear: both;
        }
    </style>
</head>

<body>
<header>
    <h1>header</h1>
</header>
<nav>
    <h2>nav</h2>
</nav>
<div class="clearfix">
    <section>

        <h2>section</h2>
        <article>
            <h3>article1</h3>
        </article>
        <article>
            <h3>article2</h3>
        </article>

    </section>
    <aside>
        <h2>aside</h2>
    </aside>
</div>
<footer>
    <h2>footer</h2>
</footer>
</body>
</html>
